.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inner {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.input_wrap {
  display: flex;
  align-items: center;
}

.input_wrap input {
  width: 200px;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.menu {
  display: flex;
  align-items: center;
}

.shopping_cart,
.mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.shopping_cart img,
.mypage img {
  width: 32px;
  height: 32px;
}

.logoutButton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoutButton:hover {
  text-decoration: underline;
}

.logoutIcon {
  width: 32px;
  height: 32px;
  margin-bottom: 5px; /* Adds space between the icon and the text */
}